<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>url</key>
					<string>http://yyj.by-health.com/examples/app/BredPou_Test_V.1.0.0.ipa</string>
					<key>kind</key>
					<string>software-package</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.shanghaizd.ZDYYQ</string>
				<key>bundle-version</key>
				<string>3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>孕育桥</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
